﻿@using BookManagerApp.Data.Enum
@model BookManagerApp.ViewModels.EditShelfViewModel

<form method="post" asp-action="Edit" enctype="multipart/form-data">

    <div class="form-group">
        <label asp-for="Name">Name</label>
        <input asp-for="Name" class="form-control" placeholder="Name of your new shelf">
        <span style="color: red" asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description">Description</label>
        <input asp-for="Description" class="form-control" placeholder="Description of your shelf">
    </div>
    <div class="form-group">
        <label asp-for="IconImg">Icon</label>
        <input asp-for="IconImg" type="file" class="form-control" placeholder="URL for the icon of your liking">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>