@model BookManagerApp.Models.LibraryViewModel

<h1>Library</h1>


@foreach(var shelf in Model.Shelves)
{
    <h5>@shelf.Name</h5>
    foreach(var book in Model.Books)
    {
        if(book.ShelfId == shelf.Id)
        {
            <li>@book.Title</li>
            <li>@book.Author</li>
        }
        
    }
}